PORT=8080

ZOHO_SIGN_TOKEN=
ZOHO_BASE_URL=https://sign.zoho.eu
ZOHO_TEMPLATE_ID=109605000000050022

FEISHU_BASE_URL=https://open.feishu.cn
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_APP_TOKEN=
FEISHU_TABLE_ID=
DEFAULT_NOTIFY_OPEN_ID=
TRIGGER_AUTH_TOKEN=
