PORT=8080

ZOHO_BASE_URL=https://sign.zoho.eu
ZOHO_ACCOUNTS_BASE_URL=https://accounts.zoho.eu
ZOHO_TEMPLATE_ID=109352000000046015
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_SIGN_TOKEN=

FEISHU_BASE_URL=https://open.feishu.cn
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_APP_TOKEN=G2GHbHVWRarPAPstB0hjPliRpvf
FEISHU_TABLE_ID=tblHCxh8GzFQMxtO
DEFAULT_NOTIFY_OPEN_ID=
TRIGGER_AUTH_TOKEN=
ZOHO_WEBHOOK_SECRET=
REQUEST_MAP_FILE=request_map.json
